# Arquivos e diretórios do sistema
.git
.github
.vscode
.idea
.DS_Store

# Arquivos de log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Diretórios de dependências e build
node_modules
.next
out

# Arquivos de ambiente local
.env*.local
.env

# Arquivos de teste
__tests__
*.test.js
*.spec.js

# Outros arquivos desnecessários
README.md
DOCKERFILE*
docker-compose*
.dockerignore